@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Información Personal";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>
            Su cuenta contiene datos personales que nos ha proporcionado. Esta página le permite descargar o eliminar esos datos.
        </p>
        <p>
            <strong>
                La eliminación de estos datos eliminará permanentemente su cuenta, y esto no se puede recuperar.
            </strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">Descargar</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-secondary">Eliminar</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
