@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmación de contraseña olvidada";
}

<h1>@ViewData["Title"]</h1>
<p>

    Por favor revise su correo electrónico para restablecer su contraseña.
</p>

