@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmacion de Registro";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
    <p>
        Actualmente, esta aplicación no tiene un remitente de correo electrónico real registrado, consulte <a href="https://aka.ms/aspaccountconf">ese doc</a>
        para saber cómo configurar un remitente de correo electrónico real.
        Normalmente esto se enviaría por correo electrónico: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click aca para confirmar su cuenta</a>
    </p>
    }
    else
    {
        <p>Por favor revise su correo electrónico para confirmar su cuenta.</p>
    }
}
