@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Restablecer la confirmación de la contraseña";
}

<h1>@ViewData["Title"]</h1>
<p>

    Tu contraseña ha sido restablecida. Por favor <a asp-page="./Login">Haga clic aquí para ingresar</a>.
</p>
