@model webGimnasio.Models.Pagos


@{
    ViewData["Title"] = "Crear Pago";
}

<h1>Nuevo</h1>

<h4>Pagos</h4>
<hr />

<div class="text-danger">
    @Html.ValidationMessage("PagosError")
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlumnoID" class="control-label"></label>
                <select asp-for="AlumnoID" class="form-control" asp-items="ViewBag.AlumnoID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Importe" class="control-label"></label>
                <input asp-for="Importe" class="form-control" />
                <span asp-validation-for="Importe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observaciones" class="control-label"></label>
                <input asp-for="Observaciones" class="form-control" />
                <span asp-validation-for="Observaciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>
